IF SCHEMA_ID('Parties') IS NULL
    EXEC('CREATE SCHEMA Parties');
GO

IF SCHEMA_ID('Countries') IS NULL
    EXEC('CREATE SCHEMA Countries');
GO

IF SCHEMA_ID('Regions') IS NULL
    EXEC('CREATE SCHEMA Regions');
GO

IF SCHEMA_ID('Addresses') IS NULL
    EXEC('CREATE SCHEMA Addresses');
GO


IF SCHEMA_ID('Roles') IS NULL
    EXEC('CREATE SCHEMA Roles');
GO

CREATE TABLE Regions.RegionType (
    Id UNIQUEIDENTIFIER NOT NULL DEFAULT NEWSEQUENTIALID() PRIMARY KEY,
    Name NVARCHAR(100) NOT NULL UNIQUE,
    Description NVARCHAR(max) NULL,
    Specializes UNIQUEIDENTIFIER NULL,
    CONSTRAINT FK_RegionType_Specializes FOREIGN KEY (Specializes) REFERENCES Regions.RegionType(Id)
);
GO

CREATE INDEX IdxRegionTypeSpecializes ON Regions.RegionType(Specializes);
GO



CREATE OR ALTER FUNCTION Regions.IsSpecializationOf(
    @specializationId UNIQUEIDENTIFIER,
    @specializedId UNIQUEIDENTIFIER
)
RETURNS BIT
AS
BEGIN
    DECLARE @result BIT = 0;

    ;WITH RecursiveCTE AS
    (
        -- start from the specialized type and walk up to parents
        SELECT Id, Specializes
        FROM Regions.RegionType
        WHERE Id = @specializedId

        UNION ALL

        SELECT rt.Id, rt.Specializes
        FROM Regions.RegionType rt
        INNER JOIN RecursiveCTE r ON rt.Id = r.Specializes
    )
    -- if any ancestor matches the candidate specialization, return 1
    SELECT @result = 1
    FROM RecursiveCTE
    WHERE Id = @specializationId;

    RETURN @result;
END;
GO

CREATE TABLE Regions.Region (
    Id UNIQUEIDENTIFIER NOT NULL DEFAULT NEWSEQUENTIALID() PRIMARY KEY,
    [Type] UNIQUEIDENTIFIER NOT NULL,
    FOREIGN KEY ([Type]) REFERENCES Regions.RegionType(Id)
);
GO

CREATE INDEX IdxRegionType ON Regions.Region([Type]);
GO

CREATE OR ALTER FUNCTION Regions.RegionIsA(
    @regionId UNIQUEIDENTIFIER,
    @regionTypeId UNIQUEIDENTIFIER
)
RETURNS BIT
AS
BEGIN
    DECLARE @regionType UNIQUEIDENTIFIER;
    SELECT @regionType = [Type] FROM Regions.Region WHERE Id = @regionId;
    RETURN Regions.IsSpecializationOf(@regionTypeId,@regionType);
END;
GO

CREATE OR ALTER FUNCTION Regions.IsContinent(
    @regionId UNIQUEIDENTIFIER
)
RETURNS BIT
AS
BEGIN
    RETURN Regions.RegionIsA(@regionId, '19F5856A-4586-473B-83F1-AF79C103CEC2');
END;
GO


CREATE OR ALTER FUNCTION Regions.IsCountry(
    @regionId UNIQUEIDENTIFIER
)
RETURNS BIT
AS
BEGIN
    RETURN Regions.RegionIsA(@regionId, '4D9CA422-77FE-408C-A80B-3795D468AA14');
END;
GO

CREATE OR ALTER FUNCTION Regions.IsState(
    @regionId UNIQUEIDENTIFIER
)
RETURNS BIT
AS
BEGIN
    RETURN Regions.RegionIsA(@regionId, 'D79A9819-6670-4E6E-AFB0-17ABAD9CBE7C');
END;
GO


CREATE OR ALTER FUNCTION Regions.IsCounty(
    @regionId UNIQUEIDENTIFIER
)
RETURNS BIT
AS
BEGIN
    RETURN Regions.RegionIsA(@regionId, 'B8C05D16-5D1E-4758-B5CD-D342AA0FDC2F');
END;
GO

CREATE OR ALTER FUNCTION Regions.IsMunicipality(
    @regionId UNIQUEIDENTIFIER
)
RETURNS BIT
AS
BEGIN
    RETURN Regions.RegionIsA(@regionId, '7A72BA57-0847-4ABC-8C7D-BC01ADE26096');
END;
GO

CREATE OR ALTER FUNCTION Regions.IsCity(
    @regionId UNIQUEIDENTIFIER
)
RETURNS BIT
AS
BEGIN
    RETURN Regions.RegionIsA(@regionId, '1F10B8CB-87BF-4A46-9161-8405F0AFE45E');
END;
GO


CREATE OR ALTER FUNCTION Regions.IsPostalRegion(
    @regionId UNIQUEIDENTIFIER
)
RETURNS BIT
AS
BEGIN
    RETURN Regions.RegionIsA(@regionId, '054C4014-599B-46D6-A22A-1A47DB352E23');
END;
GO


CREATE TABLE Regions.RegionRelationshipType (
    Id UNIQUEIDENTIFIER NOT NULL DEFAULT NEWSEQUENTIALID() PRIMARY KEY,
    Name NVARCHAR(100) NOT NULL UNIQUE,
    Description NVARCHAR(MAX) NULL,
    Specializes UNIQUEIDENTIFIER NULL
);
GO

INSERT INTO Regions.RegionRelationshipType (Id, Name, Description, Specializes) VALUES
('D96892A4-4250-4CD7-808A-C9E16F609367', N'Geographical Part of', N'Region A is a geographical part of Region B', NULL),
('78B8A630-E296-4B5A-B5E5-94647EBD6658', N'Administrative Part of', N'Region A is an administrative part of Region B', NULL);
GO

CREATE OR ALTER FUNCTION Regions.RegionRelationshipTypeIsSpecializationOf(
    @specializationId UNIQUEIDENTIFIER,
    @specializedId UNIQUEIDENTIFIER
)
RETURNS BIT
AS
BEGIN
    DECLARE @result BIT = 0;

    ;WITH RecursiveCTE AS
    (
        -- start from the specialized type and walk up to parents
        SELECT Id, Specializes
        FROM Regions.RegionRelationshipType
        WHERE Id = @specializedId

        UNION ALL

        SELECT rt.Id, rt.Specializes
        FROM Regions.RegionRelationshipType rt
        INNER JOIN RecursiveCTE r ON rt.Id = r.Specializes
    )
    -- if any ancestor matches the candidate specialization, return 1
    SELECT @result = 1
    FROM RecursiveCTE
    WHERE Id = @specializationId;

    RETURN @result;
END;
GO



CREATE TABLE Regions.RegionRelationship (
    Id UNIQUEIDENTIFIER NOT NULL DEFAULT NEWSEQUENTIALID() PRIMARY KEY,
    RegionA UNIQUEIDENTIFIER NOT NULL,
    RegionB UNIQUEIDENTIFIER NOT NULL,
    RelationshipType UNIQUEIDENTIFIER NOT NULL,
    CreatedAt DATETIME2 NOT NULL DEFAULT SYSUTCDATETIME(),
    DeletedAt DATETIME2 NULL,
    FromDate DATETIME2 NOT NULL,
    ToDate DATETIME2 NULL,
    FOREIGN KEY (RegionA) REFERENCES Regions.Region(Id),
    FOREIGN KEY (RegionB) REFERENCES Regions.Region(Id),
    FOREIGN KEY (RelationshipType) REFERENCES Regions.RegionRelationshipType(Id),
    CONSTRAINT UNQX_RegionRelationship_RegionA_RegionB_RelationshipType UNIQUE (RegionA, RegionB, RelationshipType,CreatedAt, FromDate)
);
GO

CREATE OR ALTER FUNCTION Regions.RegionRelationshipIsA(
    @regionRelationshipId UNIQUEIDENTIFIER,
    @regionRelationshipTypeId UNIQUEIDENTIFIER
)
RETURNS BIT
AS
BEGIN
    DECLARE @regionRelationshipType UNIQUEIDENTIFIER;
    SELECT @regionRelationshipType = RelationshipType FROM Regions.RegionRelationship WHERE Id = @regionRelationshipId;
    RETURN Regions.RegionRelationshipTypeIsSpecializationOf(@regionRelationshipTypeId,@regionRelationshipType);
END;
GO


CREATE OR ALTER FUNCTION Regions.GetAdministrativeParts(
    @regionId UNIQUEIDENTIFIER,
    @asOf DATETIME2
)
RETURNS TABLE
AS                 
RETURN
(
    SELECT r.*
    FROM Regions.Region r
    JOIN Regions.RegionRelationship rr ON r.Id = rr.RegionB
    WHERE rr.RegionA = @regionId
      AND rr.FromDate <= @asOf
      AND (rr.ToDate IS NULL OR rr.ToDate > @asOf)
      AND Regions.IsAdministrativePartOf(r.Id, @asOf) = 1
);

GO




CREATE TABLE Countries.Country (
    Id UNIQUEIDENTIFIER NOT NULL PRIMARY KEY,
    Name NVARCHAR(100) NOT NULL,
    Founded DATETIME2 NULL,
    Dissolved DATETIME2 NULL,
    ISOCode NVARCHAR(3) NOT NULL UNIQUE,
    FOREIGN KEY (Id) REFERENCES Regions.Region(Id),
    CONSTRAINT UNQX_Country_Name UNIQUE (Name),
    CONSTRAINT CHECK_Country_IsCountry CHECK (Regions.IsCountry(Id) = 1),
    CONSTRAINT CHECK_Country_FoundedBeforeDissolved CHECK (Founded IS NULL OR Dissolved IS NULL OR Founded < Dissolved)
);
GO


GO


GO



CREATE TABLE Parties.PartyType (
    Id UNIQUEIDENTIFIER NOT NULL DEFAULT NEWSEQUENTIALID() PRIMARY KEY,
    Name NVARCHAR(100) NOT NULL UNIQUE,
    Description NVARCHAR(max) NULL,
    Specializes UNIQUEIDENTIFIER NULL,
    CONSTRAINT FK_PartyType_Specializes FOREIGN KEY (Specializes) REFERENCES Parties.PartyType(Id),
);
GO

CREATE INDEX IdxPartyTypeSpecializes ON Parties.PartyType(Specializes);
GO

INSERT INTO Parties.PartyType (Id, Name, Description) VALUES
('1BE8A25E-A851-46EE-9170-7B073D49A6DE', 'Person', 'An individual human being'),
('79DAEA41-B091-47F0-B6D7-1F005D399DBD','Organization', 'A group of people organized for a specific purpose');
GO

INSERT INTO Parties.PartyType (Id, Name, Description, Specializes) VALUES
('A2976316-A52F-4D0F-93ED-47FDC4DA2507','Formal Organization', 'A legally recognized organization such as a corporation or government entity','79DAEA41-B091-47F0-B6D7-1F005D399DBD'),
('E81EC115-4F2B-4AF4-9E40-67F090258B6C','Informal Organization', 'An unincorporated association or group without formal legal status','79DAEA41-B091-47F0-B6D7-1F005D399DBD');
GO

INSERT INTO Parties.PartyType (Id, Name, Description, Specializes) VALUES
('40B56529-4807-4AAA-9B83-A0C05C1D0F7C','Department', 'A department within an organization', 'E81EC115-4F2B-4AF4-9E40-67F090258B6C'),
('5E825CCC-E51F-4001-88FE-03C2EB73C2B0','Division', 'A division within an organization', 'E81EC115-4F2B-4AF4-9E40-67F090258B6C');
GO



GO

CREATE OR ALTER FUNCTION Parties.IsSpecializationOf(
    @specializationId UNIQUEIDENTIFIER,
    @specializedId UNIQUEIDENTIFIER
)
RETURNS BIT
AS
BEGIN
    DECLARE @result BIT = 0;

    ;WITH RecursiveCTE AS
    (
        -- start from the specialized type and walk up to parents
        SELECT Id, Specializes
        FROM Parties.PartyType
        WHERE Id = @specializedId

        UNION ALL

        SELECT pt.Id, pt.Specializes
        FROM Parties.PartyType pt
        INNER JOIN RecursiveCTE r ON pt.Id = r.Specializes
    )
    -- if any ancestor matches the candidate specialization, return 1
    SELECT @result = 1
    FROM RecursiveCTE
    WHERE Id = @specializationId;

    RETURN @result;
END;
GO


CREATE TABLE Parties.Party (
    Id UNIQUEIDENTIFIER NOT NULL DEFAULT NEWSEQUENTIALID() PRIMARY KEY,
    [Type] UNIQUEIDENTIFIER NOT NULL,
    FOREIGN KEY ([Type]) REFERENCES Parties.PartyType(Id)
);
GO

CREATE INDEX IdxParty_Type ON Parties.Party([Type]);
GO

CREATE OR ALTER FUNCTION Parties.PartyIsA(
    @partyId UNIQUEIDENTIFIER,
    @partyTypeId UNIQUEIDENTIFIER
)
RETURNS BIT
AS
BEGIN
    DECLARE @partyType UNIQUEIDENTIFIER;
    SELECT @partyType = [Type] FROM Parties.Party WHERE Id = @partyId;
    RETURN Parties.IsSpecializationOf(@partyTypeId,@partyType);
END;
GO


CREATE OR ALTER FUNCTION Parties.IsPerson(
    @partyId UNIQUEIDENTIFIER
)
RETURNS BIT
AS
BEGIN
    RETURN Parties.PartyIsA(@partyId, '1BE8A25E-A851-46EE-9170-7B073D49A6DE');
END;
GO

CREATE OR ALTER FUNCTION Parties.IsOrganization(
    @partyId UNIQUEIDENTIFIER
)
RETURNS BIT
AS
BEGIN
    RETURN Parties.PartyIsA(@partyId, '79DAEA41-B091-47F0-B6D7-1F005D399DBD');
END;
GO

CREATE OR ALTER FUNCTION Parties.IsFormalOrganization(
    @partyId UNIQUEIDENTIFIER
)
RETURNS BIT
AS
BEGIN
    RETURN Parties.PartyIsA(@partyId, 'A2976316-A52F-4D0F-93ED-47FDC4DA2507');
END;
GO

CREATE OR ALTER FUNCTION Parties.IsInformalOrganization(
    @partyId UNIQUEIDENTIFIER
)
RETURNS BIT
AS
BEGIN
    RETURN Parties.PartyIsA(@partyId, 'E81EC115-4F2B-4AF4-9E40-67F090258B6C');
END;
GO

CREATE OR ALTER FUNCTION Parties.IsLegalParty(
    @partyId UNIQUEIDENTIFIER
)
RETURNS BIT
AS
BEGIN
    IF Parties.IsPerson(@partyId) = 0
        RETURN Parties.IsFormalOrganization(@partyId);
    RETURN 1;
END;
GO


CREATE TABLE Parties.PartyNotes (
    Id UNIQUEIDENTIFIER NOT NULL PRIMARY KEY,
    Party UNIQUEIDENTIFIER NOT NULL,
    Note NVARCHAR(MAX) NOT NULL,
    CreatedAt DATETIME2 NOT NULL DEFAULT SYSUTCDATETIME(),
    DeletedAt DATETIME2 NULL,
    CONSTRAINT FK_PartyNotes_Party FOREIGN KEY (Party) REFERENCES Parties.Party(Id),
    CONSTRAINT CHECK_PartyNotes_DeletedAt CHECK (DeletedAt IS NULL OR DeletedAt > CreatedAt)
);
GO

CREATE INDEX IdxPartyNotes_PartyCreatedAt ON Parties.PartyNotes(Party,CreatedAt);
GO
CREATE INDEX IdxPartyNotes_PartyDeletedAt ON Parties.PartyNotes(Party,DeletedAt);
GO


CREATE TABLE Parties.PartyImages (
    Id UNIQUEIDENTIFIER NOT NULL PRIMARY KEY,
    Party UNIQUEIDENTIFIER NOT NULL,
    Image VARBINARY(MAX) NOT NULL,
    ImageHash bigint NOT NULL,
    CreatedAt DATETIME2 NOT NULL DEFAULT SYSUTCDATETIME(),
    DeletedAt DATETIME2 NULL,
    CONSTRAINT FK_PartyImages_Party FOREIGN KEY (Party) REFERENCES Parties.Party(Id),
    CONSTRAINT CHECK_PartyImages_DeletedAt CHECK (DeletedAt IS NULL OR DeletedAt > CreatedAt)
);
GO

CREATE INDEX IdxPartyImages_PartyCreatedAt ON Parties.PartyImages(Party,CreatedAt);
GO
CREATE INDEX IdxPartyImages_PartyDeletedAt ON Parties.PartyImages(Party,DeletedAt);
GO

CREATE TABLE Parties.PartyDocuments (
    Id UNIQUEIDENTIFIER NOT NULL PRIMARY KEY,
    Party UNIQUEIDENTIFIER NOT NULL,
    Document VARBINARY(MAX) NOT NULL,
    DocumentHash bigint NOT NULL,
    CreatedAt DATETIME2 NOT NULL DEFAULT SYSUTCDATETIME(),
    DeletedAt DATETIME2 NULL,
    CONSTRAINT FK_PartyDocuments_Party FOREIGN KEY (Party) REFERENCES Parties.Party(Id),
    CONSTRAINT CHECK_PartyDocuments_DeletedAt CHECK (DeletedAt IS NULL OR DeletedAt > CreatedAt)
);
GO

CREATE INDEX IdxPartyDocuments_PartyCreatedAt ON Parties.PartyDocuments(Party,CreatedAt);
GO
CREATE INDEX IdxPartyDocuments_PartyDeletedAt ON Parties.PartyDocuments(Party,DeletedAt);
GO


CREATE TABLE Parties.Person (
    Id UNIQUEIDENTIFIER NOT NULL PRIMARY KEY,
    CONSTRAINT FK_Person_Party FOREIGN KEY (Id) REFERENCES Parties.Party(Id),

);
GO

CREATE TABLE Parties.PersonNationality (
    Id UNIQUEIDENTIFIER NOT NULL PRIMARY KEY,
    Person UNIQUEIDENTIFIER NOT NULL,
    Country UNIQUEIDENTIFIER NOT NULL,
    CreatedAt DATETIME2 NOT NULL DEFAULT SYSUTCDATETIME(),
    DeletedAt DATETIME2 NULL,
    FromDate DATETIME2 NOT NULL,
    ToDate DATETIME2 NULL,
    CONSTRAINT FK_PersonNationality_Person FOREIGN KEY (Person) REFERENCES Parties.Person(Id),
    CONSTRAINT FK_PersonNationality_Country FOREIGN KEY (Country) REFERENCES Countries.Country(Id),
    CONSTRAINT CHECK_PersonNationality_PersonIsPerson CHECK (Parties.IsPerson(Person) = 1),
    CONSTRAINT CHECK_PersonNationality_DeletedAt CHECK (DeletedAt IS NULL OR DeletedAt > CreatedAt),
    CONSTRAINT CHECK_PersonNationality_ToDate CHECK (ToDate IS NULL OR ToDate > FromDate)
);
GO

CREATE INDEX IdxPersonNationality_Person ON Parties.PersonNationality(Person);
GO
CREATE INDEX IdxPersonNationality_Country ON Parties.PersonNationality(Country);
GO
CREATE INDEX IdxPersonNationality_PersonCreatedAt ON Parties.PersonNationality(Person,CreatedAt);
GO
CREATE INDEX IdxPersonNationality_PersonDeletedAt ON Parties.PersonNationality(Person,DeletedAt);
GO
CREATE INDEX IdxPersonNationality_CountryCreatedAt ON Parties.PersonNationality(Country,CreatedAt);
GO
CREATE INDEX IdxPersonNationality_CountryDeletedAt ON Parties.PersonNationality(Country,DeletedAt);
GO
CREATE INDEX IdxPersonNationality_CreatedAt ON Parties.PersonNationality(CreatedAt);
GO
CREATE INDEX IdxPersonNationality_DeletedAt ON Parties.PersonNationality(DeletedAt);
GO
CREATE INDEX IdxPersonNationality_PersonFromDate ON Parties.PersonNationality(Person,FromDate);
GO
CREATE INDEX IdxPersonNationality_PersonToDate ON Parties.PersonNationality(Person,ToDate);
GO
CREATE INDEX IdxPersonNationality_CountryFromDate ON Parties.PersonNationality(Country,FromDate);
GO
CREATE INDEX IdxPersonNationality_CountryToDate ON Parties.PersonNationality(Country,ToDate);
GO
CREATE INDEX IdxPersonNationality_FromDate ON Parties.PersonNationality(FromDate);
GO
CREATE INDEX IdxPersonNationality_ToDate ON Parties.PersonNationality(ToDate);
GO



CREATE TABLE Parties.PersonNationalIdentification (
    Id UNIQUEIDENTIFIER NOT NULL PRIMARY KEY,
    Person UNIQUEIDENTIFIER NOT NULL,
    Country UNIQUEIDENTIFIER NOT NULL,
    NationalId NVARCHAR(50) NOT NULL,
    CreatedAt DATETIME2 NOT NULL DEFAULT SYSUTCDATETIME(),
    DeletedAt DATETIME2 NULL,
    FromDate DATETIME2 NOT NULL,
    ToDate DATETIME2 NULL,
    CONSTRAINT FK_PersonNationalIdentification_Person FOREIGN KEY (Person) REFERENCES Parties.Person(Id),
    CONSTRAINT FK_PersonNationalIdentification_Country FOREIGN KEY (Country) REFERENCES Countries.Country(Id),
    CONSTRAINT Unq_PersonNationalIdentification_Country_Person_NationalId_CreatedAt UNIQUE (Country, Person, NationalId, CreatedAt ),
    CONSTRAINT Unq_PersonNationalIdentification_Country_Person_NationalId_FromDate UNIQUE (Country, Person, NationalId, FromDate ),
    CONSTRAINT CHECK_PersonNationalIdentification_PersonIsPerson CHECK (Parties.IsPerson(Person) = 1),
    CONSTRAINT CHECK_PersonNationalIdentification_DeletedAt CHECK (DeletedAt IS NULL OR DeletedAt > CreatedAt),
    CONSTRAINT CHECK_PersonNationalIdentification_ToDate CHECK (ToDate IS NULL OR ToDate > FromDate)
);

CREATE INDEX IdxPersonNationalIdentification_Person ON Parties.PersonNationalIdentification(Person);
GO
CREATE INDEX IdxPersonNationalIdentification_Country ON Parties.PersonNationalIdentification(Country);
GO
CREATE INDEX IdxPersonNationalIdentification_PersonCreatedAt ON Parties.PersonNationalIdentification(Person,CreatedAt);
GO
CREATE INDEX IdxPersonNationalIdentification_PersonDeletedAt ON Parties.PersonNationalIdentification(Person,DeletedAt);
GO
CREATE INDEX IdxPersonNationalIdentification_CountryCreatedAt ON Parties.PersonNationalIdentification(Country,CreatedAt);
GO
CREATE INDEX IdxPersonNationalIdentification_CountryDeletedAt ON Parties.PersonNationalIdentification(Country,DeletedAt);
GO
CREATE INDEX IdxPersonNationalIdentification_CreatedAt ON Parties.PersonNationalIdentification(CreatedAt);
GO
CREATE INDEX IdxPersonNationalIdentification_DeletedAt ON Parties.PersonNationalIdentification(DeletedAt);
GO
CREATE INDEX IdxPersonNationalIdentification_PersonFromDate ON Parties.PersonNationalIdentification(Person,FromDate);
GO
CREATE INDEX IdxPersonNationalIdentification_PersonToDate ON Parties.PersonNationalIdentification(Person,ToDate);
GO
CREATE INDEX IdxPersonNationalIdentification_CountryFromDate ON Parties.PersonNationalIdentification(Country,FromDate);
GO
CREATE INDEX IdxPersonNationalIdentification_CountryToDate ON Parties.PersonNationalIdentification(Country,ToDate);
GO
CREATE INDEX IdxPersonNationalIdentification_FromDate ON Parties.PersonNationalIdentification(FromDate);
GO
CREATE INDEX IdxPersonNationalIdentification_ToDate ON Parties.PersonNationalIdentification(ToDate);
GO



CREATE TABLE Parties.PersonName (
    Id UNIQUEIDENTIFIER NOT NULL PRIMARY KEY,
    Person UNIQUEIDENTIFIER NOT NULL,
    FirstName NVARCHAR(100) NOT NULL,
    MiddleName NVARCHAR(100) NULL,
    LastName NVARCHAR(100) NOT NULL,
    Honorific NVARCHAR(50) NULL,
    Suffix NVARCHAR(50) NULL,
    CreatedAt DATETIME2 NOT NULL DEFAULT SYSUTCDATETIME(),
    DeletedAt DATETIME2 NULL,
    FromDate DATETIME2 NOT NULL,
    ToDate DATETIME2 NULL,
    CONSTRAINT FK_PersonName_Person FOREIGN KEY (Person) REFERENCES Parties.Person(Id),
    CONSTRAINT CHECK_PersonName_PersonIsPerson CHECK (Parties.IsPerson(Person) = 1),
    CONSTRAINT CHECK_PersonName_DeletedAt CHECK (DeletedAt IS NULL OR DeletedAt > CreatedAt),
    CONSTRAINT CHECK_PersonName_ToDate CHECK (ToDate IS NULL OR ToDate > FromDate),
    CONSTRAINT CHECK_PersonName_FirstName CHECK (LEN(FirstName) > 0),
    CONSTRAINT CHECK_PersonName_LastName CHECK (LEN(LastName) > 0)
);

CREATE INDEX IdxPersonName_Person ON Parties.PersonName(Person);
GO

CREATE INDEX IdxPersonName_CreatedAt ON Parties.PersonName(CreatedAt);
GO
CREATE INDEX IdxPersonName_Person_CreatedAt ON Parties.PersonName(Person, CreatedAt);
GO

CREATE INDEX IdxPersonName_DeletedAt ON Parties.PersonName(DeletedAt);
GO

CREATE INDEX IdxPersonName_Person_DeletedAt ON Parties.PersonName(Person, DeletedAt);
GO

CREATE INDEX IdxPersonName_FromDate ON Parties.PersonName(FromDate);
GO
CREATE INDEX IdxPersonName_Person_FromDate ON Parties.PersonName(Person, FromDate);
GO

CREATE INDEX IdxPersonName_ToDate ON Parties.PersonName(ToDate);
GO
CREATE INDEX IdxPersonName_Person_ToDate ON Parties.PersonName(Person, ToDate);
GO

CREATE INDEX IdxPersonName_FirstName_MiddleName_LastName ON Parties.PersonName(FirstName, MiddleName, LastName);
GO
CREATE INDEX IdxPersonName_LastName_FirstName_MiddleName ON Parties.PersonName(LastName, FirstName, MiddleName);
GO

CREATE TABLE Parties.PersonLifetime (
    Id UNIQUEIDENTIFIER NOT NULL PRIMARY KEY,
    Person UNIQUEIDENTIFIER NOT NULL,
    CreatedAt DATETIME2 NOT NULL DEFAULT SYSUTCDATETIME(),
    DeletedAt DATETIME2 NULL,
    FromDate DATETIME2 NOT NULL,
    ToDate DATETIME2 NULL,
    CONSTRAINT FK_PersonLifetime_Person FOREIGN KEY (Person) REFERENCES Parties.Person(Id),
    CONSTRAINT CHECK_PersonLifetime_PersonIsPerson CHECK (Parties.IsPerson(Person) = 1),
    CONSTRAINT CHECK_PersonLifetime_DeletedAt CHECK (DeletedAt IS NULL OR DeletedAt > CreatedAt),
    CONSTRAINT CHECK_PersonLifetime_ToDate CHECK (ToDate IS NULL OR ToDate > FromDate)
);

CREATE INDEX IdxPersonLifetime_Person ON Parties.PersonLifetime(Person);
GO

CREATE INDEX IdxPersonLifetime_CreatedAt ON Parties.PersonLifetime(CreatedAt);
GO
CREATE INDEX IdxPersonLifetime_Person_CreatedAt ON Parties.PersonLifetime(Person, CreatedAt);
GO

CREATE INDEX IdxPersonLifetime_DeletedAt ON Parties.PersonLifetime(DeletedAt);
GO

CREATE INDEX IdxPersonLifetime_Person_DeletedAt ON Parties.PersonLifetime(Person, DeletedAt);
GO

CREATE INDEX IdxPersonLifetime_FromDate ON Parties.PersonLifetime(FromDate);
GO
CREATE INDEX IdxPersonLifetime_Person_FromDate ON Parties.PersonLifetime(Person, FromDate);
GO

CREATE INDEX IdxPersonLifetime_ToDate ON Parties.PersonLifetime(ToDate);
GO
CREATE INDEX IdxPersonLifetime_Person_ToDate ON Parties.PersonLifetime(Person, ToDate);
GO



CREATE TABLE Parties.Organization (
    Id UNIQUEIDENTIFIER NOT NULL PRIMARY KEY,
    CONSTRAINT FK_Organization_Party FOREIGN KEY (Id) REFERENCES Parties.Party(Id)
);

CREATE TABLE Parties.FormalOrganizationType (
    Id UNIQUEIDENTIFIER NOT NULL PRIMARY KEY,
    Name NVARCHAR(100) NOT NULL,
    CountryId UNIQUEIDENTIFIER NOT NULL,
    CONSTRAINT FK_FormalOrganizationType_Country FOREIGN KEY (CountryId) REFERENCES Countries.Country(Id)
);

CREATE TABLE Parties.FormalOrganization (
    Id UNIQUEIDENTIFIER NOT NULL PRIMARY KEY,
    CONSTRAINT FK_FormalOrganization_Organization FOREIGN KEY (Id) REFERENCES Parties.Organization(Id)
);

CREATE TABLE Parties.FormalOrganizationNationality (
    Id UNIQUEIDENTIFIER NOT NULL PRIMARY KEY,
    CountryId UNIQUEIDENTIFIER NOT NULL,
    CONSTRAINT FK_FormalOrganizationNationality_Organization FOREIGN KEY (Id) REFERENCES Parties.FormalOrganization(Id),
    CONSTRAINT FK_FormalOrganizationNationality_Country FOREIGN KEY (CountryId) REFERENCES Countries.Country(Id)
);

CREATE TABLE Parties.FormalOrganizationNationalIdentification (
    Id UNIQUEIDENTIFIER NOT NULL PRIMARY KEY,
    NationalId NVARCHAR(50) NOT NULL,
    CountryId UNIQUEIDENTIFIER NOT NULL,
    IssuedDate DATETIME2 NOT NULL,
    ToDate DATETIME2 NULL,
    CONSTRAINT FK_FormalOrganizationNationalIdentification_Organization FOREIGN KEY (Id) REFERENCES Parties.FormalOrganization(Id),
    CONSTRAINT FK_FormalOrganizationNationalIdentification_Country FOREIGN KEY (CountryId) REFERENCES Countries.Country(Id)
);

CREATE TABLE Parties.FormalOrganizationName (
    Id UNIQUEIDENTIFIER NOT NULL PRIMARY KEY,
    Name NVARCHAR(200) NOT NULL,
    FromDate DATETIME2 NOT NULL,
    ToDate DATETIME2 NULL,
    CONSTRAINT FK_FormalOrganizationName_Organization FOREIGN KEY (Id) REFERENCES Parties.FormalOrganization(Id)
);



CREATE TABLE Parties.InformalOrganization (
    Id UNIQUEIDENTIFIER NOT NULL PRIMARY KEY,
    CONSTRAINT FK_InformalOrganization_Organization FOREIGN KEY (Id) REFERENCES Parties.Organization(Id)
);

CREATE TABLE Parties.InformalOrganizationName (
    Id UNIQUEIDENTIFIER NOT NULL PRIMARY KEY,
    Name NVARCHAR(200) NOT NULL,
    FromDate DATETIME2 NOT NULL,
    ToDate DATETIME2 NULL,
    CONSTRAINT FK_InformalOrganizationName_Organization FOREIGN KEY (Id) REFERENCES Parties.InformalOrganization(Id)
);


CREATE TABLE Roles.RoleType (
    Id UNIQUEIDENTIFIER NOT NULL DEFAULT NEWSEQUENTIALID() PRIMARY KEY,
    Name NVARCHAR(100) NOT NULL UNIQUE,
    Description NVARCHAR(max) NULL,
    Specializes UNIQUEIDENTIFIER NULL,
    CONSTRAINT FK_RoleType_Specializes FOREIGN KEY (Specializes) REFERENCES Roles.RoleType(Id)
);
GO

CREATE FUNCTION Roles.TopLevelRoleType(@specializedId UNIQUEIDENTIFIER)
RETURNS TABLE
AS
RETURN
(
    WITH RecursiveCTE AS
    (
        SELECT Id, Specializes
        FROM Roles.RoleType
        WHERE Id = @specializedId

        UNION ALL

        SELECT rt.Id, rt.Specializes
        FROM Roles.RoleType rt
        INNER JOIN RecursiveCTE r ON rt.Specializes = r.Id
    )
    SELECT Id
    FROM RecursiveCTE
    WHERE Specializes IS NULL
);
GO

CREATE FUNCTION Roles.IsSpecializationOf(@specializationId UNIQUEIDENTIFIER, @specializedId UNIQUEIDENTIFIER)
RETURNS BIT
AS
BEGIN
    DECLARE @result BIT = 0;

    WITH RecursiveCTE AS
    (
        SELECT Id, Specializes
        FROM Roles.RoleType
        WHERE Id = @specializationId

        UNION ALL

        SELECT rt.Id, rt.Specializes
        FROM Roles.RoleType rt
        INNER JOIN RecursiveCTE r ON rt.Id = r.Specializes
    )
    SELECT @result = 1
    FROM RecursiveCTE
    WHERE Id = @specializedId;

    RETURN @result;
END;
GO







