<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.AI.DirectML" version="1.15.4" targetFramework="native" />
  <package id="Microsoft.AI.MachineLearning" version="1.20.1" targetFramework="native" />
  <package id="WinPixEventRuntime" version="1.0.240308001" targetFramework="native" />
</packages>